body {
    font-family: 'Figtree', sans-serif;
}

/* main-content */
.main-content {
    background-color: rgb(46, 167, 192);
    height: calc(100vh - 80px);
}






/* footer */
footer {
    background-color: rgb(241, 115, 6);
    height: 80px;
    display: flex;
    justify-content: space-between;
}

/* left-footer */
.left-footer {
    background-color: blueviolet;
    height: 50px;
    width: 200px;
}


/* center-footer  */
.center-footer {
    background-color: blueviolet;
    height: 50px;
    width: 200px;
}


/* right-footer */
.right-footer {
    background-color: blueviolet;
    height: 50px;
    width: 200px;
}






/* side-bar */

.side-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 230px;
    max-width: 230px;
    background-color: black;
    color: white;
    padding: 5px 20px;
}

.logo {
    background-color: blueviolet;
}

.logo>img {
    max-width: 80%;
}

.nav {
    background-color: blueviolet;
}

.playlist {
    background-color: blueviolet;
}

.account {
    background-color: violet;
    margin-top: auto;
}

.style-account {
    border-top: 1px solid white;
}







/* content */
.content {
    width: calc(100% - 230px);
    background-color: beige;
}






/* content-header*/
.content-header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}





/* content-body*/
.link-list {
    display: flex;
    justify-content: space-between;
}

.link-list>li>a {
    line-height: 40px;
    padding: 10px 10px;
    /* box-shadow: 1px 1px 1px black; */
}

.row {
    padding-left: 10px;
    padding-right: 10px;
}

.col-2 {
    padding-left: -10px;
    padding-right: -10px;
}

.card {
    width: 140px;
    height: 170px;
    background-color: black;
    border: 1px solid red;
}

.rounded {
    border-radius: 50%;
}


/* utils */

.button {
    color: white;
    border: 1px solid white;
    border-radius: 25px;

}

.button>a {
    line-height: 40px;
    padding: 10px 25px;
}