:root {
    --footer-height: 100px;
    --aside-min-width: 200px;
    --aside-max-width: 200px;
}

body {
    font-family: 'Figtree', sans-serif;
    color: #73757A;
}

/* main-content */
.main-content {
    background-color: #141922;
    height: calc(100vh - var(--footer-height));
}

h2,
h3 {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

/* side-bar */

.side-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* min-width: var(--aside-min-width); */
    max-width: var(--aside-max-width);
    background-color: black;
    color: #6D6D6D;
    padding: 5px 20px;
    gap: 1rem;
    font-size: 13px;
}

#play-list {
    color: white;
    margin: 0.5rem 0;
}

.logo>img {
    margin-top: 1rem;
}

.logo-small {
    display: none;
    max-width: 30px;

}

.account {
    margin-top: auto;
}

.style-account {
    border-top: 1px solid white;
}

.nav img {
    width: 25px;
    margin-right: 0.3rem;
}

.nav a {
    line-height: 2.5;
}

.crea {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: 50px;
    width: 100%;
}

.plus {
    color: black;
    font-size: 35px;
    padding: 0 11px;
    text-align: center;
    background-color: #A3A3A3;
}

.loghino1 {
    margin-bottom: 0.3rem;
}

.loghino1 .loghini {
    width: 20px;
    color: #5C5C5C;
}

.loghino2 .loghini {
    width: 25px;
    height: 25px;
    color: white;
    background-color: #6D6D6D;
    border-radius: 50%;
    padding: 2px 4px 3px 4px;
}

.separatore {
    background-color: #5C5C5C;
}



/* content */
.content {
    width: calc(100% - var(--aside-max-width));
    height: 100%;
    overflow: auto;
}




/* content-header*/
.content-header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 75px;
    width: calc(100% - var(--aside-max-width));
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;

}

/* content-body*/
.content-body {
    height: 100%;
    padding-top: 75px;
}

.content-body>h2 {
    font-size: 20px;
    margin: 1rem 0;
}

.card {
    text-align: center;
    margin-top: 1rem;
}

.ascolti {
    font-size: 12px;
}

.card>div {
    font-size: 10px;
}

.card>h3 {
    margin: 0.8rem 0 0.3rem 0;
}

.link-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-list>li>a {
    font-size: 0.8rem;
    line-height: 30px;
    padding: 10px 10px;
    /* box-shadow: 1px 1px 1px black; */
}


.col-2 {
    padding-left: 7px;
    padding-right: 7px;
}

.rounded {
    border-radius: 50%;
}

/* footer */
footer {
    background-color: #282828;
    height: var(--footer-height);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fa-solid {
    font-size: 15px;
}

/* left-footer */
.left-footer {
    width: var(--aside-max-width);
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.left-footer>.song-img {
    max-width: 20%;
    min-width: 30px;
}

.song-name>div {
    font-size: 8px;
}

.my-music {
    flex-wrap: wrap;
    gap: 0.3rem;
}

/* center-footer  */
.center-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-buttons {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    margin-top: 1rem;
    width: 250px;
}

.fa-circle-play {
    font-size: 30px;
}

.progress-bar {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.progress-bar>div {
    color: #C8C8C8;
    font-size: 10px;
    margin: 1rem 0;
}

.bar {
    width: 80%;
    height: 4px;
    border-radius: 1px;
    background-color: #5C5C5C;
    align-self: center;
    position: relative;
    margin: 1rem 0;
}

.progress {
    display: block;
    width: 30%;
    height: 100%;
    background-color: #C8C8C8;
}

.bar::after {
    content: "";
    background-color: #C8C8C8;
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: -2.8px;
    left: 114px;
}

/* right-footer */
.right-footer {
    width: var(--aside-max-width);
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.bar.volume {
    height: 3px;
    width: 100px;
}

.progress-volume {
    display: block;
    width: 30%;
    height: 100%;
    background-color: #C8C8C8;
}

.volume-logos {

    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.onlyforhover {
    width: 100%;
    padding: 0.5rem;
}

.bar.volume::after {
    content: "";
    background-color: #C8C8C8;
    display: block;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    position: absolute;
    top: -2.7px;
    left: 23px;
}

.onlyforhover:hover .progress-volume {
    background-color: #ADFF2F;
}




/* utils */
.container {
    max-width: 1170px;
    padding: 1rem;
}

.button {
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    margin-right: 2rem;

}

.button>a {
    line-height: 30px;
    padding: 8px 30px;
    font-size: 11px;
}


/* ************* */
/* hovers */
/* **************** */
.become-white:hover {
    color: white;
}

.become-white.border-green:hover {
    border-bottom: 2px solid #ADFF2F;
}

.bg-white:hover {
    background-color: white;
}

.img-container {
    position: relative;
}

.card:hover img {
    filter: opacity(0.4);
}

.layover {
    display: none;
}

.card:hover .layover {
    display: block;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.button:hover {
    transform: scale(1.2);

}

.scale:hover {
    transform: scale(1.5);
}

.progress-bar:hover .progress {
    background-color: #ADFF2F;
}

.progress-bar:hover .scale {
    transform: scale(1.5);
}

.card:hover {
    cursor: pointer;
}

.progress-bar:hover {
    cursor: pointer;
}

.onlyforhover:hover {
    cursor: pointer;
}

/* ************* */
/* media query */
/* ***************** */
@media screen and (max-width: 992px) {
    .progress-bar {
        width: 350px;
    }

    .bar::after {
        position: absolute;
        top: -2.7px;
        left: 80px;
    }

    .bar.volume {
        width: 70px;
    }

    .bar.volume::after {
        position: absolute;
        top: -2.7px;
        left: 15px;
    }

}

@media screen and (max-width: 768px) {
    .progress-bar {
        width: 250px;
    }

    .song-buttons {
        width: 250px;
        margin-left: 15px;
    }

    .right-footer {
        width: 115px;
    }

    .volume-logos {
        flex-wrap: wrap;
    }

    .bar::after {
        position: absolute;
        top: -2.7px;
        left: 50px;
    }
}

@media screen and (max-width: 600px) {


    #play-list {
        display: none;
    }

    .new-playlist {
        display: none;
    }

    .content-header {
        width: calc(100% - 70px)
    }

    .nav-text {
        display: none;
    }

    .content {
        width: calc(100% - 30px);
    }

    .logo-large {
        display: none;
    }

    .logo-small {
        display: block;
        max-width: 30px;
    }

    .scrittini1,
    .scrittini2 {
        display: none;
    }

    .separatore {
        display: none;
    }

    .song-buttons {
        width: 200px;
        margin-left: 15px;
    }

    .progress-bar {
        width: 200px;
        margin-left: 15px;
    }

    .left-footer {
        width: 80px;
        gap: 0;
        padding: 0;
    }

    .bar::after {
        position: absolute;
        top: -2.7px;
        left: 40px;
    }

    .right-footer {
        width: 90px;
    }

    .bar.volume {
        width: 50px;

    }
}

@media screen and (max-height: 690px) {
    .new-playlist {
        height: 150px;
        overflow: auto;
        width: 127px;
    }

}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.8em;
    background: #ADFF2F;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px black;
}

@media screen and (max-height: 580px) {
    .new-playlist {
        height: 80px;
    }

    .account {
        display: none;
    }
}