:root {
    --footer-height: 100px;
    --aside-min-width: 200px;
    --aside-max-width: 200px;
}

body {
    font-family: 'Figtree', sans-serif;
    color: #73757A;
}

/* main-content */
.main-content {
    background-color: #141922;
    height: calc(100vh - var(--footer-height));
}

h2,
h3 {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

/* side-bar */

.side-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: var(--aside-min-width);
    max-width: var(--aside-max-width);
    background-color: black;
    color: #6D6D6D;
    padding: 5px 20px;
    gap: 1rem;
    font-size: 13px;
}

#play-list {
    color: white;
    margin: 0.5rem 0;
}

.logo>img {
    max-width: 80%;
    margin-top: 1rem;
}

.account {
    background-color: violet;
    margin-top: auto;
}

.style-account {
    border-top: 1px solid white;
}

.nav img {
    max-width: 25px;
}

.nav a {
    line-height: 2.5;
}

.crea {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: 50px;
    width: 100%;
}

.plus {
    color: black;
    font-size: 35px;
    padding: 0 11px;
    text-align: center;
    background-color: #A3A3A3;
}

.new-playlist {
    min-height: 155px;
}

/* content */
.content {
    width: calc(100% - var(--aside-max-width));
    height: 100%;
    overflow: auto;
}



/* content-header*/
.content-header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 75px;
    width: calc(100% - var(--aside-max-width));
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;

}

/* content-body*/
.content-body {
    height: 100%;
    padding-top: 75px;
}

.content-body>h2 {
    font-size: 20px;
    margin: 1rem 0;
}

.card {
    text-align: center;
    margin-top: 1rem;
}

.ascolti {
    font-size: 12px;
}

.card>div {
    font-size: 10px;
}

.card>h3 {
    margin: 0.8rem 0 0.3rem 0;
}

.link-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-list>li>a {
    font-size: 0.8rem;
    line-height: 30px;
    padding: 10px 10px;
    /* box-shadow: 1px 1px 1px black; */
}


.col-2 {
    padding-left: 7px;
    padding-right: 7px;
}

.rounded {
    border-radius: 50%;
}

/* footer */
footer {
    background-color: #282828;
    height: var(--footer-height);
    display: flex;
    justify-content: space-between;
}

.fa-solid {
    font-size: 15px;
}

/* left-footer */
.left-footer {
    width: var(--aside-max-width);
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.left-footer>.song-img {
    max-width: 20%;
    min-width: 30px;
}

.song-name>div {
    font-size: 8px;
}


/* center-footer  */
.center-footer {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-buttons {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    margin-top: 1rem;
    width: 250px;
}

.fa-circle-play {
    font-size: 30px;
}

.progress-bar {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.progress-bar>div {
    color: #C8C8C8;
    font-size: 10px;
    margin: 1rem 0;
}

.bar {
    width: 80%;
    height: 4px;
    border-radius: 1px;
    background-color: #5C5C5C;
    align-self: center;
    position: relative;
    margin: 1rem 0;
}

.progress {
    display: block;
    width: 30%;
    height: 100%;
    background-color: #C8C8C8;
}

.bar::after {
    content: "";
    background-color: #C8C8C8;
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: -2.8px;
    left: 114px;
}

.progress-bar:hover .progress {
    background-color: #ADFF2F;
}

/* right-footer */
.right-footer {
    width: var(--aside-max-width);
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.bar.volume {
    height: 3px;
    width: 100%;
}

.progress-volume {
    display: block;
    width: 30%;
    height: 100%;
    background-color: #C8C8C8;
}

.onlyforhover {
    width: 100%;
    padding: 0.5rem;
}

.bar.volume::after {
    content: "";
    background-color: #C8C8C8;
    display: block;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    position: absolute;
    top: -2.7px;
    left: 23px;
}

.onlyforhover:hover .progress-volume {
    background-color: #ADFF2F;
}




/* utils */
.container {
    max-width: 1170px;
    padding: 1rem;
}

.button {
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    margin-right: 2rem;

}

.button>a {
    line-height: 35px;
    padding: 10px 35px;
    font-size: 13px;
}